<% include partials/header %>
<div class="container">
        <h1> <%= skater.name %></h1>
        <div class="row" style="margin-top: 50px">
            <div class="span4">
                <img class="img-responsive" style="max-height: 200px; max-width: 200px;" src="<%= skater.image%>">
                    <p>Date of Birth: <%= skater.dateOfBirth %></p>
                    <p>Some other data will go here later</p>
                    <p>Some other data will go here later</p>
            </div>
            <div class="span8">
                <div class="container">
                    <div>
                        <h3>List of the Competitions:</h3>
                        <% skater.competitions.forEach(function(competition){ %>
                                <p>
                                    <strong>
                                        <%= competition.name %>
                                    </strong>
                                <br>   
                                    Date:  
                                   <% var d = competition.date.getDate();%>
                                <%    var m = competition.date.getMonth();%>
                                   <% var y = competition.date.getFullYear(); %>
                              <%     var dateWithoutTime = (d + ". " + (m+1) + ". " + y + ".");%>
                                    
                                  <%= dateWithoutTime;%>

                                
                                <br>
                                    Location: <%= competition.location %>
                                </p> 
                            <a class= "btn btn-sm btn-outline-warning" href="/skaters/<%= skater._id %>/competitions/<%= competition._id %>/edit">Edit Competition </a>
                            <form class="d-inline" action="/skaters/<%= skater._id %>/competitions/<%= competition._id %>?_method=DELETE" method="POST" onclick="return confirm('Are you sure you want to delete this Competition?');">
                                <button class="btn btn-sm btn-outline-danger">Delete Competition</button>
                            </form>
                            <hr>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
                <a class="btn btn-lg btn-primary" href="/skaters/<%= skater._id %>/competitions/new">Add New Competition & Results</a>
                <a class= "btn btn-lg btn-warning" href="/skaters/<%= skater._id %>/edit">Edit Skater </a>
                <form class="d-inline" action="/skaters/<%= skater._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-lg btn-danger" onclick="return confirm('Are you sure you want to delete this Skater?');">Delete Skater</button>
                </form>
                <a class="btn btn-lg btn-secondary" href="/skaters">Go Back!</a>
    <hr>
</div>


<div class="container">
    <canvas id="lineChart" width="1000" height="600"></canvas>
</div>


<script>
Chart.defaults.line.spanGaps = true;

var resultsChart = document.getElementById("lineChart"); 
var lineChart = new Chart(resultsChart,{ 
        type: "line",
        data:  {
            labels: [
                <% skater.competitions.forEach(function(competition){ %>
                 " <%= competition.name %>" , 
                <% }); %>
            ],
            datasets: [{ 
                data: [
                     <% skater.competitions.forEach(function(competition){ %>
                  <%= competition.skillrace %> , 
                <% }); %>
                    ],
                label: "Skill Race",
                borderColor: "pink",
                fill: false
              }, { 
                data: [
                     <% skater.competitions.forEach(function(competition){ %>
                  <%= competition.dist222m %> , 
                <% }); %>
                    ],
                label: "222m",
                borderColor: "yellow",
                fill: false
              }, { 
                data: [
                     <% skater.competitions.forEach(function(competition){ %>
                  <%= competition.dist333m %> , 
                <% }); %>
                    ],
                label: "333m",
                borderColor: "green",
                fill: false
              }, { 
                data: [
                     <% skater.competitions.forEach(function(competition){ %>
                  <%= competition.dist500m %> , 
                <% }); %>
                    ],
                label: "500m",
                borderColor: "black",
                fill: false
              }, { 
                data: [
                     <% skater.competitions.forEach(function(competition){ %>
                  <%= competition.dist777m %> , 
                <% }); %>
                    ],
                label: "777m",
                borderColor: "orange",
                fill: false
              }, { 
                data: [
                     <% skater.competitions.forEach(function(competition){ %>
                  <%= competition.dist1000m %> , 
                <% }); %>
                    ],
                label: "1000m",
                borderColor: "blue",
                fill: false
              }, { 
                data: [
                     <% skater.competitions.forEach(function(competition){ %>
                  <%= competition.dist1500m %> , 
                <% }); %>
                    ],
                label: "1500m",
                borderColor: "red",
                fill: false
              }
            ]
          },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false,
                        stepSize: 10000
                    }
                }], 
                xAxes: [{
                    ticks: {
                        autoSkip: false
                    }
                }]
            },
            title: {
              display: true,
              text: 'Distance Results in Chart (in miliseconds)',
              fontSize: 24,
            },
          }
   }); 

</script>

<hr>


<% include partials/footer %>
